.GamesGrid {
    display: grid;
    padding: 10px;
    align-items: center;
    justify-items: center;
}

@media (orientation: portrait)
{
    .GamesGrid{
        grid-template-columns: auto;
        align-content: center;
        row-gap: 5vh;
    }

    .GameCard {
        width: 80vw;
        height: 90vw;
        border-radius: 2vw;
    }

    .GameCard .Title{
        background-color: #202020cd;
        border-radius: 2vw;
    }

    .GameCard img{
        max-height: 90vw;
    }   
}

@media (orientation: landscape) and (min-width: 1501px)
{
    .GamesGrid{
                grid-template-columns: auto auto auto;
    }
}

@media (orientation: landscape) and (max-width: 1500px)
{
    .GamesGrid{
                grid-template-columns: auto auto;
    }
}

@media (orientation: landscape)
{
    .GamesGrid{

        align-content: center;
        row-gap: 40px;
    }

    .GameCard {
        width: 400px;
        height: 450px;
        border-radius: 10px;
    }

    .GameCard img{
        max-height: 450px;
    }   

    .GameCard .Title{
        background-color: #202020;
        border-radius: 10px;
        height: 15%;
    }

    .GameCard:hover{
        transform: scale(1.1);
        transition: all 100ms;
        cursor: pointer;
    }

    .GameCard:hover img{
        /*opacity: 0.2;*/
        transition: all 100ms;
    }

    .GameCard:hover p {
        opacity: 100%;
        transition: all 100ms;
    }

    .GameCard:hover .Title{
        transition: all 100ms;
        height: 37%;
    }

    .GameCard:hover .Title .GameInfo{
        transition: all 500ms;
        opacity: 100%;
        position: static;
    }

    .GameCard .Title .GameInfo{
        transition: all 10ms;
        opacity: 0%;
        position: fixed;
    }
}

.GameCard:visited,
.GameCard:hover,
.GameCard:active,
.GameCard:link {
    color: white;
    text-decoration: none;
}

.GameCard {
    color: inherit;
    transition: all 100ms;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    overflow: hidden;
    /*background-color: #ffffff;*/
    /*border-radius: 10px;*/
    text-align: center;
    position: relative;
}

.GameCard img{
    width: auto;
    object-fit: cover;
    flex-shrink: 0;
}

/*.GameCard p {
    transition: all 100ms;
    opacity: 100%;
    position: absolute;
    color: #000000;
}*/

.GameCard .Title{
    transition: all 100ms;
    position: absolute;
    width: auto;
    bottom: 5%;
    left: 5%;
    right: 5%;
    text-align: left;
    padding-left: 10px;
    line-height: 1.5;
    overflow: hidden;
}

/*.GameCard .Title p{
    margin: 0;
    transition: all 100ms;
    opacity: 100%;
    color: #ffffff;
}*/
